table,
th,
td {
  border: 1px solid darkgray;
  padding-top: 3px;
  padding-bottom: 3px;
}

th {
  color: darkslategrey;
  background-color: #badaf3;
}

td {
  background-color: #eef6fc;
}

.canClick {
  color: black;
}

table {
  border-collapse: collapse;
  text-align: left;
  margin: auto;
  margin-bottom: 20px;
}
